<table class='table'>
  <tr ng-repeat='order in orders'>
    <td>{{ order._id }}</td>
    <td>{{ order.orderDate | date }}</td>
    <td>
      <ul class='list-group'>
        <li ng-repeat='lineItem in order.lineItems' class='list-group-item'>
          {{ lineItem.product.name }} 
          : 
          {{ lineItem.quantity }} x {{ lineItem.product.price | currency }} per item = {{ lineItem.quantity * lineItem.product.price | currency }}  
          <ul>
            <li ng-click='rateProduct(lineItem.product, rating)' ng-repeat='rating in ratingChoices'>
              <span class='label label-default' ng-class="{'label-success':  getReview(lineItem.product) && getReview(lineItem.product).rating === rating }">
                {{ rating }}
              </span>
            </li>
          </ul>
        </li>
      </ul>
      </td>
  </tr>
</table>
