<div class='alert alert-info' ng-if='cart().lineItems.length === 0'>Your cart is empty.</div>
<table class='table' ng-if='cart().lineItems.length !== 0'>
  <thead>
    <th>Name</th>
    <th>Quantity</th>
    <th></th>
  </thead>
  <tbody>
    <tr ng-repeat='lineItem in cart().lineItems'>
      <td>
        {{ lineItem.product.name }}
      </td>
      <td>
        {{ lineItem.quantity }}
      </td>
      <td>
        <button class='btn btn-danger' ng-click='remove(lineItem.product)'>Remove</button>
      </td>
    </tr>
  </tbody>
</table>
<button class='btn btn-primary' ng-click='checkout()' ng-if='cart().lineItems.length > 0'>Checkout</button>
